.products {
    width: 70%;
    height: 200px;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    text-align: center;
}

.product {
    box-sizing: border-box;
    flex: 0 0 33%;
    height: 200px;
    margin-top: 30px;
    border: 1px solid lightgray;
}

img {
    width: 80%;
    height: 80%;

}