/*.App {
  text-align: center;
}*/

.App-header {
  background-color: #282c34;
  height: 60px;
  display: flex;
  justify-content: start;
  align-items:center;
  font-size: calc(4px + 2vmin);
  color: white;
}
.header-link{
  margin: 30px;
  text-decoration: none;
  color: white;
}

.App-body{
  display: flex;
  justify-content: center;
}

.App-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}

